body{

background:linear-gradient(to right,#ff9a9e,#fad0c4);

font-family:Arial;

text-align:center;

}

.card{

background:white;

width:450px;

margin:auto;

margin-top:40px;

padding:30px;

border-radius:20px;

box-shadow:0 0 20px gray;

}

img{

width:220px;

height:220px;

border-radius:50%;

border:5px solid hotpink;

}

button{

padding:12px 25px;

font-size:18px;

background:#ff4081;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

button:hover{

background:#d81b60;

}

h1{

color:#e91e63;

}

h3{

color:green;

font-size:28px;

}